doctype html
html
  head
    | <style type="text/css" media="screen">
    | body, html {
    |    height: 100%;
    | }    
    | #editor { 
    |    position: absolute;
    |    top: 0;
    |    right: 0;
    |    bottom: 0;
    |    left: 200px;
    | }
    | #explorer {
    |   position: relative;
    |   left: 0;
    |   right: 0;
    |   top: 0;
    |   bottom: 0;
    |   width: 200px;
    |   height: 100%;
    | }
    |</style>    
  body
    div(id="explorer") Tien
    div(id="editor") !{text}
    script(src="/editor/ace-builds/src-noconflict/ace.js", type="text/javascript")
    | <script>
    |  var editor = ace.edit("editor");
    |  editor.setTheme("ace/theme/monokai");
    |  editor.getSession().setMode("ace/mode/javascript");
    | </script>