form(role="form", action="/uploads", method="post", enctype="multipart/form-data")
  div(class="form-group")
    label(for="onixfile") Upload ONIX File        
    input(type="file", name="onixfile", id="onixfile")
  div(class='form-submit')
    input(type="submit", name="submit", value="upload")
